.guests{
    margin:20px 50px;
    position:relative;
}
.addBtn{
background:green;
color:#fff;
border:none;
border-radius:3px;
padding:6px 10px;
}
.addBtn:hover{
    opacity:0.8;
}
.table{
margin-top:10px;
    overflow-x:auto;
    }
    
    table{
      width:100%;
      min-width:800px;
    }
    th{
      background:black;
      color:#fff;
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }